<h1>make a student</h1>

<!-- some place to input information => form -->
<form action="/students" method="post">
  Name:<br>
  <input type="text" name="name">
  <br>
  Age:<br>
  <input type="number" name="age"><br>
  Module:<br>
  <input type="number" name="module"><br>
  Worth:<br>
  <input type="text" name="worth"><br>
  <br>
  <input type="submit" value="Submit">
</form>
