<h1>Insert the form to create a new instance of your model.</h1>

<form action="/storms" method="post">
  NAME: <input type="text" name="name" placeholder="give me a friendly name">
  FLAVOR:<input type="text" name="flavor" placeholder="what kind tho?">
  <input type="submit">
</form>
